body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1rem;
}
.inner {
    max-width: 360px;
    background-color: transparent;
    border: none;
}
.bg-gray {
    background-color: #f1f1f1;
}

.spacer {
    padding-top: 10%;
    padding-bottom: 10%;
}
